<%- include('header'); -%>    
    <div class='content'>
        <H1 ID="welcome">CONTACT</H1>
        <span>Name: <%= clients.contact %></span>
        <span>Address: <%= clients.addres %></span>
        <span>Society: <%= clients.society %></span>
        <span>Zipcode: <%= clients.zipcode %></span>
        <span>City: <%= clients.city %></span>
        <span>Phone: <%= clients.phone %></span>
        <span>Fax: <%= clients.fax %></span>
        <span>Payment: <%= clients.payment %></span>
        <span>Outstanding: <%= clients.max_outstanding %></span>
    </div>
<%- include('footer'); -%>