<%- include('header'); -%>    
    <div class='content'>
        <H1 ID="welcome">CONTACT</H1>
        <span>Name: <%= clients[0].contact %></span>
        <br>
        <span>Address: <%= clients[0].addres %></span>
        <br>
        <span>Society: <%= clients[0].society %></span>
        <br>
        <span>Zipcode: <%= clients[0].zipcode %></span>
        <br>
        <span>City: <%= clients[0].city %></span>
        <br>
        <span>Phone: <%= clients[0].phone %></span>
        <br>
        <span>Fax: <%= clients[0].fax %></span>
        <br>
        <span>Payment: <%= clients[0].payment %></span>
        <br>
        <span>Outstanding: <%= clients[0].max_outstanding %></span>
    </div>
<%- include('footer'); -%>